
.full-inforDoctor-date {
  display: flex;

  .doctor-date {
    display: flex;
    height: 200px;
    background: #cccccc;
    margin-right: 24px;
  }

  .infor-clinic {
    .infor-clinic-unfull{

    }
    .infor-clinic-full{

    }
    .infor-clinic-header {
    }

  }

}
